<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="nav">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
            <li><a href="{% url 'voter_login' %}">Login</a></li>
            <li><a href="{% url 'admin_login' %}">Admin Login</a></li>
            <li><a href="{% url 'admin_dashboard' %}">Admin Dashboard</a></li>
            <li><a href="{% url 'candidates_list' %}">Candidates</a></li>
            <li><a href="{% url 'positions_list' %}">Positions</a></li>
        </ul>
    </div>
    <div class="container">
        <h1>Welcome to the Online Voting Application</h1>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
