<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Candidates</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Candidates List</h1>
    <ul>
        {% for candidate in candidates %}
            <li>{{ candidate.name }} - <a href="{% url 'vote' %}" data-candidate-id="{{ candidate.id }}">Vote</a></li>
        {% empty %}
            <li>No candidates available.</li>
        {% endfor %}
    </ul>
</body>
</html>
